@using DemoApplication.Areas.Client.ViewModels.Account
@model UserPasswordViewModel

<form method="post" asp-route="client-account-details-password">
	<div class="row">
		<div class="col-12  mb--30">
			<h4>Password change</h4>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="CurrentPassword" id="current-pwd" placeholder="Current Password"
				  >
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="NewPassword" id="new-pwd" placeholder="New Password"
				   >
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="ConfirmPassword" id="confirm-pwd" placeholder="Confirm Password"
				   >
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn--primary">Save Changes</button>
		</div>
	</div>
</form>