@using DemoApplication.Areas.Client.ViewModels.Account
@model AddressListViewModel

<div class="col-lg-9 col-12 mt--30 mt-lg--0">
	<div class="myaccount-content">
		<h3>Billing Address</h3>
		<address>
			<p><strong>@Model.User</strong></p>
			<p>
				@Model.Title
			</p>
			<p>Mobile: @Model.PhoneNumber</p>
		</address>
		<a asp-route="client-account-edit-address" class="btn btn--primary">
			@*<i class="fa fa-edit"></i>*@Edit
			Address
		</a>
	</div>
</div>
