@using DemoApplication.Areas.Client.ViewModels.Account
@model List<OrderViewModel>

<div class="col-lg-9 col-12 mt--30 mt-lg--0">
    <!-- Single Tab Content Start -->
    <div class="myaccount-content">
        <h3>Orders</h3>
        <div class="myaccount-table table-responsive text-center">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.CreatAt</td>
                            <td>@order.Status</td>
                            <td>@order.Total</td>
                            <td><a href="cart.html" class="btn">View</a></td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- Single Tab Content End -->
</div>