@using DemoApplication.Areas.Admin.ViewModels.Author
@model List<ListItemViewModel>
<div class="col-lg-12">
    <div class="card">
        <div class="author-add-modal">
            <partial name="Partials/_AuthorModalPartial" />
        </div>
        <div class="author-update-modal">

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="mb-3 row">
                            <label for="horizontalInput2" class="col-sm-2 col-form-label ad">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="UpdateFirstName" placeholder="Name">
                                
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="horizontalInput2" class="col-sm-2 col-form-label ad">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="UpdateLastName" placeholder="Lastname">
                            </div>
                        </div>
                        <button type="submit" id="btnUpdateAuth" class="btn btn-primary">Yadda Saxla</button>
                        <a asp-route="admin-author-update"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-header">
            <h4 class="card-title">Authors</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblAuthor" class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>LastName</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableArea">
                        @foreach (var author in Model)
                        {
                            <tr>
                                <td>@author.FirstName</td>
                                <td>@author.LastName</td>
                                <td class="text-end">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Update</button>
                                    <a asp-route="admin-author-update" asp-route-id="@author.Id">Update</a>

                                    <button class="btn btn-primary" data-id="row-@author.Id" type="button" onclick="deleteAuthor(this)">Delete</button>
                                    <a asp-route="admin-author-delete" asp-route-id="@author.Id"></a>
                                </td>
                            </tr>
                        }

                        <tr id="row-template" class="d-none">
                            <td class="name-td">As</td>
                            <td class="last-td">Sa</td>
                            <td class="links-td text-end">

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Update</button>
                                <a asp-route="admin-author-update" asp-route-id=""></a>

                                <button class="btn btn-primary" data-id="" onclick="deleteAuthor(this)" type="button">Delete</button>
                                <a asp-route="delete-author" asp-route-id=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>
